

<% @articles.each do |article|  %>
<h3><%= link_to article.title, article_path(article) %></h3>
<p><%= article.content %></p>
<%= link_to "Remove Article", article_path(article),method: :delete, class: "btn btn-outline-danger btn-sm" %>
<% end %>

<p><%= link_to "Add a New Article", new_article_path, class: "btn btn-info" %></p>
